/* =========================[MAIN]========================== */

body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #000;
    color: #fff;
    padding-bottom: 50px;
}

::selection {
    background: #ff0000; /* Цвет фона */
    color: #fff; /* Цвет текста */
}

a{
    text-decoration: none;
    color: #fff;
}

/* =========================[HEADER]========================== */

header{
    background-color: rgb(0, 0, 0, 1);
    margin-top: 0;
    box-shadow: 0 3px 8px rgba(255, 0, 0, 0.6);
    display: flex;
    width: 100%;
    z-index: 100;
}

.header-texts {
    color: #fff;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: calc(100% - 90px); 
}

.header-texts h1{
    margin: 0;
}

.nav-list {
    list-style-type: none; 
    margin: 0;
    padding: 0; 
    display: flex; 
    margin-left: 20px;
}

header img{
    width: 80px;
    height: 80px;
    margin-left: 12px;
    margin-right: 10px;
}



.main-section{
    margin-top: 50px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.zone{
    margin-left: 30px;
    width: 38%;
    display: flex;
    justify-content: left;
}

.main-block{
    justify-content: center;
    display: flex;
    align-items: center;
}

.card{
    text-align: center;
}

.card h1{
    color: #ff0000;
    font-size: 2.6em;
}

.card button{
    border: 0;
    padding: 16px 46px;
    border-radius: 10px;
    background-color: #ff0000;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    display: inline-flex;
}

.card button img{
    margin-right: 3px;
}

.card button:hover{
    text-decoration: underline;
}

.card h2{
    margin-top: -10px;
    font-size: 1.6em;
}

.card img{
    width: 300px;
    border-radius: 30px;
}

/* ========================================= */

.info-block{
    width: 55%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.screenshot{
    width: 210px;
    height: 430px;
    display: inline-flex;
}

.info-block h1{
    font-size: 1.8em;
    margin-bottom: 0;
}
.screenshot img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 8px;
    border: 2px solid red;
    border-radius: 10px;
    margin: 10px 40px 0 0;
    transition: 0.6s;
}

#platform{
    width: 35px;
}

.screenshot img:hover{
    transform: scale(1.1);
}













