html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #000;
	color: #fff;
}

@media(width > 603px){
	#transition{
		position: absolute;
		margin-top: -4.2vh;
		width: 100%;
		display: flex;
	}
}

@media(width < 603px){
	#transition{
		position: absolute;
		margin-top: -4.2vh;
		width: 100%;
	}
}


a{
	color: #fff;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

::selection{
	background-color: #fff;
	color: #000;
}

/*======================Хедер====================*/

header{
	width: 100%;
	height: 7.4vh;
	background-color: rgba(12, 12, 12, 0.5);
	display: inline-flex;
	align-items: center;
	font-size: 2vh;
	position: fixed;
	z-index: 1000;
	justify-content: space-between;
}

header img{
	padding: 1vh;
	height: 90%;
}

@media(width > 1223px){
	.NavList{
		display: flex;
		justify-content: space-between;
		width: 50vw;
		margin-right: 2vw;
	}

	header h2{
		width: 60%;
		margin-left: 0;
	}
}

@media(width < 1223px){
	.NavList{
		display: none;
	}

	header h2{
		width: 100%;
		margin-left: 0;
	}
}

header h2 a:hover{
	text-decoration: none;
}

/*======================Главная страница====================*/

@media(width > 1449px){
	.MainSection{
		width: 100%;
		height: 100vh;
		background: url(images/main.jpg);
		display: flex;
		justify-content: center;
		align-items: center;
		background-repeat: no-repeat;
		background-size: 100%;
	}
}

@media(width < 1449px){
	.MainSection{
		width: 100%;
		height: 100vh;
		background: url(images/main.jpg);
		background-position: 40%;
        background-size: 320%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-repeat: no-repeat;
	}
}

@media(width < 684px){
	.LogoBlock img{
		width: 80vw;
	}
}

@media(width > 685px){
	.LogoBlock img{
		width: 30vw;
	}
}





/*======================ИнФО СЕКЦИЯ====================*/


#InfoSection{
	width: 100%;
	height: 100vh;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}


.InfoBlock h2{
	font-size: 5vh;
	text-decoration: underline;
}

.InfoBlock h3{
	font-size: 2.8vh;
}

@media(width >= 1279px){
	.ImageBlock img{
		width: 70%;
		transition: 0.6s;
		border-radius: 45%;
	}
	.ImageBlock{
		width: 40%;
		display: flex;
		justify-content: center;
		border-radius: 50%;
	}
	.InfoBlock{
		width: 32%;
	}
}

@media(width <= 1279px){
	.ImageBlock img{
		display: none;
		position: absolute;
	}
	.ImageBlock{
		width: 80%;
		display: flex;
		justify-content: center;
		border-radius: 50%;
		position: absolute;
	}
	.InfoBlock{
		width: 60%;
	}
}


.ImageBlock img:hover{
	transform: scale(1.1);
}

/*======================СЕКЦИЯ НОВОСТЕЙ====================*/

@media(width > 1475px){
	.NewsSection{
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background: url(images/newsBack.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
	}
}

@media(width < 1475px){
	.NewsSection{
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background: url(images/newsBack.jpg);
		background-repeat: no-repeat;
		background-position: 40%;
        background-size: 320%;
	}
}

.NewsBlock{
	width: 60%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.NewsBlock h2{
	text-align: center;
	font-size: 5vh;
	text-decoration: underline;
}

@media(width > 737px){
	.NewsList{
		display: inline-flex;
		justify-content: center;
		width: 100%;
	}
}


@media(width < 737px){
	.NewsList{
		display: inline-flex;
		justify-content: center;
		width: 100%;
	}
}


.News{
	text-align: center;
	margin: 0 20px 0 20px;
}

@media(width > 525px){
	.News img{
		width: 16vw;
		height: calc(16vw * 1.5); 
		border-radius: 1vw;
		border: 4px solid #181818;
		transition: 0.4s;
	}
}

@media(width < 525px){
	.News img{
		width: 12vw;
		height: calc(12vw * 1.5); 
		border-radius: 1vw;
		border: 4px solid #181818;
		transition: 0.4s;
	}
}


.News h3{
	font-size: 3vh;
	margin-top: 0.8vh;
	margin: 0.8vh 0 0 0;
}

.News h4{
	font-size: 2.2vh;
	color: #999999;
	margin: 1vh 0 0 0;
}

.News img:hover {
	box-shadow: 0 0 24px 2px #282828;
	transform: scale(1.05);
}

.NewsText{
	height: 100%;
}

.NewsText h1{
	text-align: center;
	font-size: 5vh;
	margin-left: 2vw;
	text-align: left;
}

.NewsText h2{
	text-decoration: none;
	font-size: 3vh;
	text-align: left;
	margin-left: 2vw;
	width: 100%;
	display: flex;
}

/*======================СЕКЦИЯ ДЛЯ ЗАЯВОК====================*/

.ApplicationSection{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.btn{
	display: flex;
	justify-content: center;
}

.ApplicationBlock button{
	width: 50%;
	height: 8vh;
	color: #000;
	font-size: 3vh;
	font-weight: bold;
	transition: 0.6s;
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 5vh;
}

.ApplicationSection img{
	width: 60vw;
}

.ApplicationBlock{
	text-align: center;
	width: 70%;
}

.ApplicationBlock button:hover{
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid #fff;
	color: #fff;
	box-shadow: 0 0 8px 1px #fff;
}


.ApplicationBlock h2{
	font-size: 4.5vh;
}


/*======================СЕКЦИЯ Контактов====================*/

@media(width > 1406px){
	.AdminsSection{
		width: 100%;
		height: 100vh;
		background: url(images/contacts.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media(width < 1406px){
	.AdminsSection{
		width: 100%;
		height: 100vh;
		background: url(images/contacts.jpg);
		background-position: center;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}


.AdminsBlock{
	width: 60%;
	display: flex;
	justify-content: center;
}

#AdminsBlock{
	flex-direction: column;
}

.AdminsBlock h2{
	text-align: center;
	font-size: 5vh;
	text-decoration: underline;
}

.AvatarsList{
	width: 100%;
	display: inline-flex;
	justify-content: center;
}

.Contact{
	text-align: center;
	margin: 0;
	width: 50%;
}

.Contact h2{
	text-decoration: none;
	font-size: 3.8vh;
	margin: 0.5vh;
	width: 100%;
}

.Contact h3{
	font-size: 3vh;
	margin: 1.5vh;
}

.Contact img{
	border-radius: 50%;
	width: 20vw;
	box-shadow: 0 0 12px 0 #121212;
}

/*==============SOCIALS==================*/

.Socials{
	position: fixed;
	right: 0;
	bottom: 0;
}

.Socials img{
	height: 6vh;
	margin: 0 2vh 2vh 0;
	transition: 0.6s;
}

.Socials img:hover{
	transform: scale(1.2);
}